.col2 {
    padding-top:40px
}
.descCol2 {
    padding-top: 20px;
}

@include media-md {
    .col2 {
        padding: 40px 0px 0px 40px !important;
    }
    .customFs {
        font-size: 30px;

    }
    .descCol1, .descCol2 {
        padding-top: 10px  !important;
        
    }
  
}