
.h70px {
  height: 70px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn {
	box-shadow: 0 10px 10px rgb(79 91 100 / 10%) !important;
}
.cursorPointer {
  cursor: pointer;
}

.inputField {
  box-shadow: 0 10px 10px rgb(79 91 100 / 10%) !important;
  color: hsl(0, 0%, 52%) !important;
  height:50px;
  border: none;
  &::placeholder {
  color:hsl(0, 0%, 52%) !important;
  }
  &:focus {
    border: hsl(209, 23%, 22%) !important;
  }
}

.filter {
  position: sticky !important;
  top:0;
}
.countryContainer { 
  height: 300px;
}
.imgContainer {
  height:40%;
  object-fit: cover;
  width:100%;
}
.filter {
  width:200px;
  height:50px;
}
.navBack {
  width: 120px;
}